@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0ea5e9;
  --secondary: #06b6d4;
}

body {
  color: rgb(33, 33, 33);
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
